.subtitle {
	font-size: 23px;
	user-select: none;
	margin-bottom: 10px;
}

#found-total {
	margin-bottom: 15px;
}

.flex-content-column {
	margin: auto 15px 150px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-content-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	gap: 15px;
}

#flex-settings {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.settings {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 5px;

	background-color: var(--dark-gray);
	box-shadow: 0px 0px 25px 1px var(--light-black);
	border-radius: 10px;
	width: 350px;
}

.manage-btn {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 5px;

	background-color: var(--dark-gray);
	box-shadow: 0px 0px 25px 1px var(--light-black);
	border-radius: 10px;
	width: 350px;
}

.manage-btn:hover {
	background-color: var(--gray);
}

.setting-header {
	font-size: 25px;
	color: var(--light-red);
}

.sort-field-link {
	display: block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 35px;

	border: 2px solid var(--light-gray);
	border-radius: 6px;
	user-select: none;
}

.sort-field-link:hover {
	color: var(--dark-white);
}

.links-switch {
	overflow: hidden;
	display: flex;
}

.links-switch>* {
	float: left;
	flex-grow: 1;
}

.sort-order-link {
	display: flex;
	justify-content: center;
	padding: 0px 15px;
	line-height: 35px;
	border: 2px solid var(--light-gray);
	cursor: pointer;
	user-select: none;
}

.sort-order-link:hover {
	color: var(--dark-white);
}

.asc-order {
	border-radius: 5px 0 0 5px;
	border-right: none;
}

.desc-order {
	border-radius: 0 5px 5px 0;
	border-right: 2px solid var(--light-gray);
}

/* --------------------- *
 * list of radio buttons *
 * --------------------- */

.radio-button {
	display: inline-block;
}

.radio-button input[type=radio] {
	display: none;
}

.radio-button label {
	display: block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 35px;

	border: 2px solid var(--light-gray);
	border-radius: 5px;
	user-select: none;
}

.radio-button label:hover {
	color: var(--dark-white);
}

.radio-button input[type=radio]:checked+label {
	background: var(--light-gray);
}

/* ---------------------------- *
 * end of list of radio buttons *
 * ---------------------------- */

.filter-setting {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.filter-setting>p {
	margin-bottom: 10px;
}

.filters-separator {
	margin: 15px 35%;
	height: 1px;

	background-color: var(--light-gray);
}

#filter-genre-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	row-gap: 7px;
	column-gap: 4px;
}

.filters-submit-btn {
	display: inline-block;
	padding: 4px 10px;
	background-color: var(--light-gray);
	border-radius: 5px;

	line-height: 30px;
	cursor: pointer;
}

.filters-submit-btn:hover {
	background-color: var(--gray);
}

/* ---------------- *
 * checkbox buttons *
 * ---------------- */

.checkbox-btn {
	display: inline-block;
	flex-wrap: wrap;
	user-select: none;
	position: relative;
}

.checkbox-btn input[type=checkbox] {
	display: none;
}

.checkbox-btn span {
	display: inline-block;
	cursor: pointer;
	padding: 2px 10px;
	line-height: 30px;
	border: 2px solid var(--light-gray);
	border-radius: 50px;
}

.checkbox-btn input[type=checkbox]:checked+span {
	background: var(--light-gray);
}

.checkbox-btn:hover {
	color: var(--dark-white);
}

/* ----------------------- *
 * end of checkbox buttons *
 * ----------------------- */

/* ----------- *
 * range input *
 * ----------- */

.range-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 2px solid var(--light-gray);
	border-radius: 5px;
}

.range {
	width: 400px;
	height: 15px;
	appearance: none;
	background: var(--light-gray);
	outline: none;
	border-radius: 5px;
	overflow: hidden;
}

.range::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	background: var(--light-gray);
	border-radius: 50%;
	border: 2px solid var(--dark-white);
	box-shadow: -407px 0 0 401px var(--dark-white);
	cursor: pointer;
}

.range-value {
	position: relative;
	text-align: center;
	width: 50px;
	color: var(--light-red);
	margin-left: 10px;
}

/* ------------------ *
 * end of range input *
 * ------------------ */

.filter-year {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;

	text-align: center;
	padding: 8px;
	border: 2px solid var(--light-gray);
	border-radius: 5px;
}

.filter-year::-webkit-outer-spin-button,
.filter-year::-webkit-inner-spin-button {
	display: none;
}

/* --------- *
 * book list *
 * --------- */

#found-total {
	font-size: 23px;
}

.list-books {
	width: 100%;
	gap: 15px;

	display: grid;
	grid-auto-flow: row;
}

/* styles for stared/want/watched pages */
.list-books-category {
	grid-template-columns: repeat(3, 1fr);

}

/* styles for search page */
.list-books-search {
	grid-template-columns: repeat(3, 1fr);
}

.book {
	display: flex;
	padding: 20px;
	gap: 20px;

	flex-grow: 1;
	min-width: 400px;

	background-color: var(--dark-gray);
	box-shadow: 0px 0px 25px 1px var(--light-black);
	border-radius: 10px;
}

.book>* {
	margin-left: 0;
}

/* full book info without poster */
.book-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	align-items: flex-start;
	flex-grow: 1;
}

.book-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;

	width: 100%;
}

.edit-img,
.type-img {
	display: flex;
	flex-shrink: 0;
}

.edit-img>svg {
	width: 20px;
	height: 20px;
}

.edit-img:hover>svg>path {
	fill: var(--light-red);
}

.type-img>svg {
	width: 24px;
	height: 24px;
}

.edit-img>svg>path {
	fill: var(--white);
}

.type-img>svg>path {
	fill: var(--light-gray);
}

.book-info-item {
	display: flex;
	align-items: baseline;

	margin: 3px 0;
}

.book-info-item label {
	color: var(--light-red);
	margin-right: 5px;
	cursor: default;
}

.book-desc {
	text-align: justify;
	margin-top: 30px;
}

.book-desc>* {
	align-items: center;
}

.book-title {
	font-size: 22px;
}

.book-year {
	width: 100%;
}

.book-year>p {
	width: 100%;
}