.subtitle {
	font-size: 23px;
	user-select: none;
	margin-bottom: 10px;
}

#found-total {
	margin-bottom: 15px;
}

.flex-content-column {
	margin: auto 15px 150px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-content-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	gap: 15px;
}

#flex-settings {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.settings {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 5px;

	background-color: var(--theme-library-settings-fill);
	box-shadow: var(--theme-shadow);
	border-radius: 10px;
	width: 350px;
}

.sort-header {
	margin-bottom: 10px;
}

.manage-btn {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 5px;

	background-color: var(--theme-library-settings-fill);
	box-shadow: var(--theme-shadow);
	border-radius: 10px;
	width: 350px;
}

.manage-btn:hover {
	background-color: var(--theme-library-settings-fill-hover);
}

.setting-header {
	font-size: 25px;
	color: var(--theme-accent);
}

.sort-field-link {
	display: block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 35px;

	border: 2px solid var(--theme-library-settings-border);
	border-radius: 6px;
	user-select: none;
}

.sort-field-link:hover {
	color: var(--theme-library-settings-text-hover);
}

.links-switch {
	overflow: hidden;
	display: flex;
}

.links-switch>* {
	float: left;
	flex-grow: 1;
}

.sort-order-link {
	display: flex;
	justify-content: center;
	line-height: 33px;
	border: 2px solid var(--theme-library-settings-border);
	cursor: pointer;
	user-select: none;
}

.sort-order-link:hover {
	color: var(--theme-library-settings-text-hover);
}

.asc-order {
	border-radius: 5px 0 0 5px;
	border-right: none;
}

.desc-order {
	border-radius: 0 5px 5px 0;
	border-right: 2px solid var(--theme-library-settings-border);
}

.sort-link-selected {
	background-color: var(--theme-library-settings-fill-selected);
}

/* --------------------- *
 * list of radio buttons *
 * --------------------- */

.radio-button {
	display: inline-block;
}

.radio-button input[type=radio] {
	display: none;
}

.radio-button label {
	display: block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 35px;

	border: 2px solid var(--theme-library-settings-border);
	border-radius: 5px;
	user-select: none;
}

.radio-button label:hover {
	color: var(--theme-library-settings-text-hover);
}

.radio-button input[type=radio]:checked+label {
	background: var(--theme-library-settings-border);
}

/* ---------------------------- *
 * end of list of radio buttons *
 * ---------------------------- */

.filter-setting {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.filter-setting>p {
	margin-bottom: 10px;
}

.filters-separator {
	margin: 15px 35%;
	height: 1px;

	background-color: var(--theme-library-separator);
}

#filter-genre-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	row-gap: 7px;
	column-gap: 4px;
}

.filters-submit-btn {
	display: inline-block;
	padding: 4px 10px;
	background-color: var(--theme-library-settings-fill-selected);
	border-radius: 5px;

	line-height: 30px;
	cursor: pointer;
}

.filters-submit-btn:hover {
	background-color: var(--theme-library-settings-apply-btn-fill-hover);
}

/* ---------------- *
 * checkbox buttons *
 * ---------------- */

.checkbox-btn {
	display: inline-block;
	flex-wrap: wrap;
	user-select: none;
	position: relative;
}

.checkbox-btn input[type=checkbox] {
	display: none;
}

.checkbox-btn span {
	display: inline-block;
	cursor: pointer;
	padding: 2px 10px;
	line-height: 30px;
	border: 2px solid var(--theme-library-settings-border);
	border-radius: 50px;
}

.checkbox-btn input[type=checkbox]:checked+span {
	background: var(--theme-library-settings-fill-selected);
}

.checkbox-btn:hover {
	color: var(--theme-library-settings-text-hover);
}

/* ----------------------- *
 * end of checkbox buttons *
 * ----------------------- */

.filter-year {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;

	text-align: center;
	padding: 8px;
	border: 2px solid var(--theme-library-settings-border);
	border-radius: 5px;
}

.filter-year::-webkit-outer-spin-button,
.filter-year::-webkit-inner-spin-button {
	display: none;
}

/* --------- *
 * book list *
 * --------- */

#found-total {
	font-size: 23px;
}

.list-books {
	width: 100%;
	gap: 15px;

	display: grid;
	grid-auto-flow: row;
}

/* styles for book list */
.list-books-category {
	grid-template-columns: repeat(3, 1fr);

}

.book {
	display: flex;
	padding: 20px;
	gap: 20px;

	flex-grow: 1;
	min-width: 400px;

	background-color: var(--theme-library-settings-fill);
	box-shadow: var(--theme-shadow);
	border-radius: 10px;
}

.book>* {
	margin-left: 0;
}

/* full book info without poster */
.book-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	align-items: flex-start;
	flex-grow: 1;
}

.book-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;

	width: 100%;
}

.edit-img,
.type-img {
	display: flex;
	flex-shrink: 0;
}

.edit-img>svg {
	width: 20px;
	height: 20px;
}

.edit-img:hover>svg>path {
	fill: var(--theme-accent);
}

.type-img>svg {
	width: 24px;
	height: 24px;
}

.edit-img>svg>path {
	fill: var(--theme-library-edit-svg-fill);
}

.type-img>svg>path {
	fill: var(--theme-library-type-svg-fill);
}

.book-info-item {
	display: flex;
	align-items: baseline;

	margin: 3px 0;
}

.book-info-item label {
	color: var(--theme-accent);
	margin-right: 5px;
	cursor: default;
}

.book-desc {
	text-align: justify;
	margin-top: 30px;
}

.book-desc>* {
	align-items: center;
}

.book-title {
	font-size: 22px;
}

.book-year {
	width: 100%;
}

.book-year>p {
	width: 100%;
}